*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: xx-large;
}
.btxt h1{
    padding: 5% 0 0 0;
}
.btxt p{
    padding: 0 0 5% 0;
}
.img-fluid{
    padding: 10% 0 0 0 ;
}

.design{
    background-color: transparent;
    border: none;
}
.dev{
    background-color: transparent;
    border: none;
}
.product{
    background-color: transparent;
    border: none;
}
.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.contact-success{
    display:none;
    font-size: 100px;
}
/* start of portfolio */
.pic{
    position: relative;
}

.text-block {
    position: absolute;
    top: 7%;
    left: 10%;
    right: 10%;
    bottom: 7%;
    color: white;
    font-size: xx-large;
    background-color: black;
    opacity: 0;
 }